html{
  min-height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serf;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}
